@import url(/css/var.css);

/*=============== BASE ===============*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
}

h2,
h3 {
    color: var(--color-primary-dark);
}

.text--accent {
    text-transform: uppercase;
    color: var(--color-brand-light);
    font-weight: var(--font-semi-bold);
}

.text--accent-dark {
    color: var(--color-brand-dark);
}

.text--accent-input {
    color: var(--color-input);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*=============== LINK ===============*/

.nav__link {
    color: var(--color-primary-light);
}

.nav__link:hover {
    color: var(--color-brand-light);
}

/*=============== BUTTON ===============*/

.button {
    color: var(--color-primary-light);
    font-weight: var(--font-semi-bold);

    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

.button--contact {
    width: fit-content;
}

/*===============  ===============*/

.containt-wrapp {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

/*=============== HEADER ===============*/

.header-section {
    position: relative;
}

.header-navigation {
    width: 100%;
    padding: 32px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

/*=============== HERO ===============*/

.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(
            102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%
        ),
        url(/images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* background-attachment: fixed; */
}

.hero__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-black);
    color: var(--color-primary-light);
}

.hero__title .accent {
    color: var(--color-brand-light);
}

/*=============== ADVANTAGES ===============*/

.advantages-section {
    background-color: var(--color-brand-light);
}

.advantages__list {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: var(--font-light);
}

.section__tittle {
    font-size: var(--h2-font-size);
    font-weight: var(--font-black);
    line-height: 131.25%;
    color: #31261a;
}

/*=============== TRADITIONS ===============*/

.traditions-section__container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.traditions-section__containt {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.traditions-section__image {
    border-radius: 400px 400px 0px 0px;
}

/*=============== CHEFS ===============*/

.chefs-section__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.chefs__title {
    text-align: center;
    position: relative;
}

.chefs__title .accent::before,
.chefs__title .accent::after {
    content: "";
    display: block;
    width: 352px;
    height: 2px;
    background-color: var(--color-text-light);
    bottom: 23px;
    position: absolute;
}

.chefs__title .accent::after {
    right: 0;
}

.chefs__title .accent {
    color: var(--color-brand-dark);
}

.chefs-section__list {
    display: flex;
    gap: 60px;
}

.chefs-section__item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chef-card__title {
    font-size: var(--h3-font-size);
}

.chef-card__photo {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-input);
}

/*=============== FORMATS ===============*/
.formats-section .section__tittle {
    text-align: center;
    margin-bottom: 80px;
}

.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    fill: var(--color-primary-dark);
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.formats-section__carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formats-section__list {
    display: grid;
    grid-template-columns: repeat(3, 349px);
    justify-content: space-between;
    gap: 20px;
}

.formats-section__item {
}

.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primary-dark) 100%
    );
    border-radius: 16px;
    overflow: hidden;
}

.format-card__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.format-card__title {
    color: var(--color-primary-light);
    font-size: var(--h4-font-size);
}

.format-card__content {
    margin-top: 16px;
}

.format-card__content-item {
    color: var(--color-primary-light);
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}

/*=============== CONTACTS ===============*/

.contacts-section__container {
    display: flex;
    gap: 32px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__map {
    border-radius: 16px;
}
/*=============== FOOTER ===============*/

.footer-section {
    margin-top: 96px;
    background-color: var(--color-primary-dark);
    background-image: url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.footer-section__container {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 32px;
    position: relative;
}

.footer-section__container::before,
.footer-section__container::after {
    content: "";
    position: absolute;
    bottom: 0;
}

.footer-section__container::before {
    left: -160px;
    width: 180px;
    height: 120px;
    background-image: url(/images/decor-bread-small.png);
}

.footer-section__container::after {
    right: -100px;
    width: 305px;
    height: 185px;
    background-image: url(/images/decor-bread-big.png);
}

.footer-section__list,
.footer-section__address,
.footer-section__copywrite {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-section__address a,
.footer-section__copywrite a {
    color: var(--color-primary-light);
    font-style: normal;
}

.footer-section__social {
    display: flex;
    gap: 24px;
}

.icon__social {
    fill: var(--color-primary-light);
}

.icon__social:hover {
    fill: var(--color-input);
}
