/*=============== BASE ===============*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);

    @media screen and (max-width: $screen-tablet) {
        font-size: var(--small-font-size);
    }
}

h2,
h3 {
    color: var(--color-primary-dark);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.text--accent {
    text-transform: uppercase;
    color: var(--color-brand-light);
    font-weight: var(--font-black);

    &-dark {
        color: var(--color-brand-dark);

        & a {
            color: var(--color-brand-dark);
            text-decoration: underline;
        }
    }

    &-input {
        color: var(--color-input);
    }
}