@import './var';
/*=============== UTILS ===============*/

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.containt-wrapp {
    color: #31261a;
    display: flex;
    flex-direction: column;
    gap: 96px;

    @media screen and (max-width: $screen-tablet) {
        margin-top: 40px;
        gap: 40px;
    }
}

.section__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-black);
    line-height: 131.25%;
    color: #31261a;

    &--center{
        text-align: center;
    }

    @media screen and (max-width: $screen-tablet) {
        font-size: var(--tablet-size);
    }
}