
/*=============== UTILS ===============*/

.containt-wrapp {
    color: #31261a;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.section__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-black);
    line-height: 131.25%;
    color: #31261a;

    &--center{
        text-align: center;
    }
}