/*=============== CONTACTS ===============*/

.contacts-section__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    & .form__title {
        align-items: flex-start;
    }

    & .contact-form {
        margin-top: 26px;
    }

    & .contact-form {
        padding: 0;
    }    
}

.contacts__map {
    border-radius: 16px;
    height: auto;
}