/*=============== HEADER ===============*/

.header-section {
    position: relative;

    
    .header-navigation {
        width: 100%;
        padding: 32px 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        
        & .nav__link {
            padding: 12px 32px;
            border-radius: 8px;
            border: 2px solid transparent;

                &:hover {
                    border-color: var(--color-primary-light);
                    background-color: var(--color-primary-light);
                    color: var(--color-brand-dark);
                }
        }
    }

}