/*=============== CHEFS ===============*/

.chefs {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 80px;

        @media screen and (max-width: $screen-laptop) {
            gap: 24px;
        }
    }

    &__title {
        position: relative;

        @media screen and (min-width: $screen-laptop) {
            & .text--accent-dark {
                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 352px;
                    height: 2px;
                    background-color: var(--color-text-light);
                    bottom: 23px;
                    position: absolute;
                }

                &::after {
                    right: 0;
                }
            }
        }
    }

    &__list {
        display: flex;
        gap: 60px;
        padding-left: 20px;

        @media screen and (max-width: $screen-laptop) {
            flex-direction: column;
            gap: 36px;
        }
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}