/*=============== FOOTER ===============*/

.footer {
    margin-top: 96px;
    background-color: var(--color-primary-dark);
    background-image: url(/bakery_landing/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-repeat: no-repeat;
        }

        &::before {
            left: 0;
            width: 180px;
            height: 120px;
            background-image: url(/bakery_landing/images/decor-bread-small.png);

            @media screen and (max-width: $screen-tablet) {
                left: 0;
                top: 48px;
                height: 200px;
                background-image: url(/bakery_landing/images/decor-bread-footer-s.png);
            }
        }

        &::after {
            right: 0;
            width: 305px;
            height: 185px;
            background-image: url(/bakery_landing/images/decor-bread-big.png);

            @media screen and (max-width: $screen-tablet) {
                right: 0;
                bottom: 0;
                width: 100px;
                height: 90px;
                background-image: url(/bakery_landing/images/decor-bread-footer-l.png);
            }
        }    
    
    &__container {
        padding: 32px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 32px;
        
        @media screen and (max-width: $screen-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
        }
    }

    &__list,
    &__address,
    &__copywrite {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media screen and (max-width: $screen-tablet) {
            align-items: center;
            text-align: center;
        }
    }

    &__address a,
    &__copywrite a {
        color: var(--color-primary-light);
        font-style: normal;
    }

    &__social {
        display: flex;
        gap: 24px;
    }    
}
