/*=============== FORMATS ===============*/
.formats {
    &__carousel {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 44px 1fr 44px;
        gap: 32px;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $screen-tablet) {
            grid-template-columns: 1fr;
        }
    }

    &__list {
        overflow: hidden;
    }
}


